@tailwind base;
@tailwind components;
@tailwind utilities;

.no-border {
}

.no-border:focus {
	border: 0px solid gray !important;
	outline: 2px solid transparent !important;
	outline-offset: 2px !important;
}

.katex {
	font-size: 28px !important;
}

#Latex .katex {
	font-size: 36px !important;
}

.mq-math-mode {
	font-size: 28px !important;
}

#cell .katex {
	font-size: 24px !important;
}

#symbol .katex {
	font-size: 24px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

#matrix-size::-webkit-outer-spin-button,
#matrix-size::-webkit-inner-spin-button {
	-webkit-appearance: auto;
	padding: 0;
	margin: 0;
}

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
} */
